#portada {
    background-image: url(img/ba1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;


}

#descripcion-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 40%;
    bottom: 5%;
    right: 5%;
    width: 45%;
    height: 40%;



    box-sizing: border-box;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all 1.5s ease;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
    border: 0.5px solid white;



}

#descripcion-container p {
    width: calc(100% - 40px);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;

    margin-bottom: 10%;
    text-align: justify;
    text-justify: inter-word;
    transition: all 0.5s ease;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;




}

#descripcion-container h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin: 0;
    margin-bottom: 10px;

}

.center {

    display: flex;

    justify-content: space-around;

}

.center-text {
    text-align: center;
}

.card {
    width: 100%;
}